/* start editing from here */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/*--login form start here--*/
body {
   background-color: #2c3338;
   /*background-size: cover;*/
   font-family: 'Open Sans', sans-serif;
   font-size: 100%;
   color: #a9a9a9;

}
.navbar-brand{
    color: #FFFFFF;
    font-size: 20px;
    text-transform: uppercase;
}
.search {
  text-align: center;
  margin: 12em 0em 0em 0em;
  position: relative;
}
.s-bar {
  width: 34%;
  margin: 0 auto;
  padding: 0.5em 0em 0.5em 0em;
}
.s-bar h3{
  margin-top: 20px;
    color:#A9A9A9;
}

.s-bar input[type="url"] {
  font-size: 1.15em;
  font-weight: 600;
  color: #fff;
  padding: 1.3em 1em 1.3em 1.5em;
  width: 70%;
  border-radius: 5px 0px 0px 5px;
 -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  -o-border-radius: 5px 0px 0px 5px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  outline: none;
  -webkit-appearance: none;
}
.s-bar button[type="button"]{
  font-size: 1.15em;
  font-weight: 600;
  color: #fff;
  padding: 1.3em 0em;
  width: 24%;
  text-align: center;

  border-radius: 0px 5px 5px 0px;
  -webkit-border-radius:0px 5px 5px 0px;
  -moz-border-radius:0px 5px 5px 0px;
  -o-border-radius:0px 5px 5px 0px;
  margin: 0px 0px 0px -4px;
  background:#48cfad;
  cursor:pointer;
  border: none;
  outline: none;
  -webkit-appearance: none;
  background: #48cfad;

}
.s-bar button[type="button"]:hover{
	opacity: 0.8;
      filter: alpha(opacity=100); 
      transition: all 0.3s ease; 
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
}
.search i {
  width: 31px;
  height: 31px;
  display: block;
  position: absolute;
  top: 28%;
  left: 32.2%;
  cursor: pointer;
}
.search p {
  font-size: 0.9em;
  font-weight: 400;
  color: #fff;
  margin: 1em 0em 0em 0em;
}
.search p a {
  font-size: 0.9em;
  font-weight: 400;
  color: #fff;
  text-decoration: underline;
}
.search p a:hover {
	text-decoration:none;
}
.copyright {
  margin: 15em 0em 0em 0em;
  text-align: center;
}
.copyright p {
  font-size: 0.875em;
  font-weight: 400;
  color: #a9a9a9;
}
.copyright p a{
  font-size: 1em;
  font-weight: 400;
  color:#48cfad;
}
.copyright p a:hover{
	color: #fff;
	 transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
/*--meadia quiries start here--*/
@media(max-width:1440px){
.search i {
  left: 30.5%;
}
.s-bar {
  width: 40%;
}
}
@media(max-width:1366px){

}
@media(max-width:1280px){
.copyright {
  margin: 13em 0em 4em 0em;
}
.s-bar input[type="url"] {
  width: 63%;
}
.search i {
  left: 31.5%;
}
}
@media(max-width:1024px){
.s-bar {
  width: 50%;
}
.search i {
  left: 27.2%;
}
.copyright {
  margin: 13em 0em 4.1em 0em;
}
}
@media(max-width:768px){
.copyright {
  margin: 21em 0em 7.2em 0em;
}
.search {
  margin: 15em 0em 0em 0em;
}
.s-bar {
  width: 58%;
}
.search i {
  left: 21.5%;
}
.s-bar input[type="url"] {
  width: 67%;
}
.copyright p {
  font-size: 0.9em;
    margin-top:-80px;
}
}
@media(max-width:667px){
.search i {
  left: 21.5%;
}	
}
@media(max-width:640px){
.s-bar {
  width: 65%;
}
.search i {
  left: 18.5%;
}	
}
@media(max-width:600px){
.search i {
  left: 17.5%;
}	
}
@media(max-width:568px){
.s-bar input[type="url"] {
  width: 64%;
}	
}
@media(max-width:480px){
.s-bar input[type="url"] {
  width: 63%;
  font-size: 1.1em;
}
.s-bar button[type="button"] {
  width: 36%;
  font-size: 1.15em;
}
.search i {
  top: 17%;
}
}
@media(max-width:414px){
.search i {
  top: 21%;
  left: 14.5%;
}	
}
@media(max-width:320px){
.copyright {
  margin: 10.45em 0em 3em 0em;
}
.copyright p {
  font-size: 0.8em;
}
.copyright p {
  font-size: 0.8em;
}
.search {
  margin: 11.25em 0em 0em 0em;
}
.s-bar {
  width: 100%;
}
.search i {
  left: -2%;
  top: 22%;
}
.search p {
  font-size: 0.72em;
}
}
/*--meadia quiries end here--*/

/*---nav bar starts here----*/
.navbar-default .navbar-nav li{
    border: 0.2em solid #48cfad;
    float: left;

    margin: 5px 10px 5px 0px;
    border-radius: 18px;


}
.navbar-default .navbar-nav li a{
    font-size: 14px;
    font-weight: 600;
    color: #A9A9A9;

}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #fff;
    background-color: #48cfad;
    border-radius: 14px;
    background-clip: border-box;

}


/*---nav bar ends here----*/

/*-----modal starts-----*/

.modal-dialog{
    color: black;
}

.modal-content .modal-header{
    color: #ffffff;
}