/* Dashboard Lists ex.
=================================================================== */

ul.dashboard-list li{
    padding: 5px 0;
    list-style:none;
    border-bottom: 1px solid #eee;
    font-size: 12px;
}

ul.dashboard-list li i{
    font-size: 18px;
    opacity: .7;
    filter: alpha(opacity=70);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    padding: 2px 2px 0px 2px;
    margin-right: -2px;
}

ul.dashboard-list li:first-child {
    border-top: none;
    border-bottom: 1px solid #eee;
}

ul.dashboard-list li:last-child {
    border-bottom: none;
}

ul.dashboard-list a:hover{
    text-decoration:none;
}

ul.dashboard-list{
    margin:0;
}

ul.dashboard-list li a span {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    padding: 0px 4px;
}

ul.dashboard-list li .avatar {
    height: 50px;
    width: 50px;
    padding: 1px;
    float: left;
    margin-top: 3px;
    margin-right: 15px;
    border: 1px solid #eee;
}

/*----------------------------------*/
/* Dashboard Lists Metro Style ex.
=================================================================== */

ul.dashboard-list.metro {
    margin: -10px -10px;
}

ul.dashboard-list.metro li {
    padding: 5px 0;
    list-style:none;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

ul.dashboard-list.metro li:last-child {
    border-bottom: none;
}

ul.dashboard-list.metro li i {
    font-size: 18px;
    padding: 9px 7px;
    margin: -5px 10px -5px 0px;
}

ul.dashboard-list a:hover{
    text-decoration:none;
}


/*color for notifications */
.green{
    background: #00A300 !important;
    border-color: #00A300 !important;
    color: #fff;
}
.red{
    background: #EB3C00 !important;
    border-color: #EB3C00 !important;
    color: #fff;
}
.blue{
    background: #4DABE8 !important;
    border-color: #4DABE8 !important;
    color: #fff;
}
.gray{
    background: #666666 !important;
    border-color: #666666 !important;
    color: #fff;
}