@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

.align {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
span{

    font-size: 12px;
    font-weight: bold;
}


#body_identity{
    background-color: #2c3338;
    color: #A9A9A9;
    font: 400 0.875rem/1.5 "Open Sans", sans-serif;
    margin: 0;
    min-height: 100%;
}
/************************************signup form**************************************************/

.sns-signin{
    margin-top:20px;
    margin-bottom:25px;
}
.sns-signin a{
    border-radius: 50px;
    display: block;
    text-align: left;
    transition: background-color 300ms linear 0s;
}
.sns-signin a .fa-facebook {
    border-right: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 20px;
    padding: 7px 15px 7px 10px;

}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}
.sns-signin a .fa-google-plus {
    border-right: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 20px;
    padding: 7px 15px 7px 10px;
}
.sns-signin a .fa-windows {
     border-right: 1px solid #fff;
     color: #fff;
     font-size: 16px;
     margin-left: 10px;
     margin-right: 20px;
     padding: 7px 15px 7px 10px;
 }
.horizontal-divider::before {
    background: #2C3338 none repeat scroll 0 0;
    color: #ccc;
    content: "OR";
    font-size: 16px;
    left: -11px;
    padding: 5px 0;
    position: absolute;
    top: 40%;
}

.horizontal-divider {
    background-color: #505050;
    height: 40em;
    margin: 0 auto;
    position: relative;
    width: 1px;
}
.normal-signup {
    margin-top: 0px;
}
.form-group {
    margin-bottom: 15px;
}
.form-control {
    background-color: white;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.form-control {
    background-color: white;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
input[type="text"], input[type="password"], input[type="email"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: -moz-use-text-color  -moz-use-text-color #505050;
    border-image: none;
    border-radius: 0;
    border-style: none none solid;
    border-width: medium medium 1px;
    box-shadow: none;
    color: #ccc;
    margin-bottom: 20px;
    padding: 10px 0 10px 10px;
}
.btn-signup{
    background-color: #68dff0;
}
.input-recaptcha{
    width:172px;
}

